@model GetGuideByIDQueryResult
@{
    ViewData["Title"] = "GetGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS-MediatR Rehber Düzenleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="GuideId" />
    <label>Rehber Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Bilgileri Güncelle</button>

</form>
